$gb-white           :#ffffff;
$gb-dark            :#333333;
$gb-contrast        :#007076;
$gb-contrast-2      :#7f0000;


$gb-white-rgba      :rgba(255,255,255,.8);
$gb-dark-rgba       :rgba(51,51,51,.8);
$gb-contrast-rgba   :rgba(0,112,112,.8);
$gb-contrast-2-rgba :rgba(127,0,0,.8);

