#sidebar-form{
    @extend #side-menu;
    
    form{
        position:relative;
        background:rgba(black,.03);
        padding:20px 15px 10px;
        @include global-shadow(5px,.1);
        
        &.loading{
        
            &:after{
                content:'';
                position:absolute;
                z-index:1000;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background:rgba(white,.7) url(../libs/img/loading.gif) no-repeat center;
                
            }
            
        
        }
        
        &.complete{
            
            input,a,textarea,label,p{
                display: none;
            }
            
        }
        
    }
    
    p{
        margin-bottom: 20px;
        font-weight: bold;
        font-size: .8rem;
        line-height:1.4;
        color:rgba($font-color,.95);
        position:relative;
        
        &:after{
            content: '';
            border-top: 1px solid rgba(black,.1);
            position: absolute;
            bottom: -5px;
            left: 0px;
            width: 100%;
            opacity: .5;
        }
    }
    
    label{
        display: block;
        font-size: .8rem;
        margin:15px 0px 5px;
    }
    
    input, textarea{
        display: block;
        resize: none;
        width:100%;
        border: 1px solid rgba(black,.1);
        outline: none;
        font-family: $font-family-standard;
        font-size: .8rem;
        line-height: 1.4;
        padding:5px;
        box-sizing:border-box;
        
        &:focus{
            border: 1px solid rgba($gb-contrast,.3);
        }
    }

    a{
        margin-top:20px;
        text-align: center;
    
        &:hover{
            background: #7f0000;
        }
        
    }
    
    .ct-form-message{
    
        margin: 0px 0px 20px;
        border-top: 3px solid $gb-contrast;
        color: $gb-contrast;
        box-shadow: 1px 1px 10px rgba(0,0,0,.4);
        padding: 12px 10px 12px 38px;
        font-size: .8rem;
        line-height: 1.4;
        position:relative;
        
        &:before{
            content: "\f147";
            font-family: 'dashicons';
            font-size: 2rem;
            line-height: 1;

            position:absolute;
            left:2px;
            top:7px;
        }
        
        &.error{
            border-top-color:$gb-contrast-2;
            color:$gb-contrast-2;
        
            &:before{
                content: "\f153";
            }
            
        }
    
    }
}