/* TYPOGRAFI STANDARD */
$font-family-standard: verdana, arial, helvetica, sans-serif;


/* FARVER
------------------------------------------------------*/
$font-color     : #333333;
$h1-color       : #333333;
$h2-color       : #007f7f;
$h3-color       : #333333;
$h4-color       : #333333;

$links-color : $gb-contrast-2;
$article-links-color : $font-color;


/* FONT SIZE
------------------------------------------------------*/
body {
	font-size: 100%;
    color: $font-color;
    font-family: $font-family-standard;
	}

input,
select,
textarea,
table,
tr,
td {
	font-size: 100%;
	}




/* FONT FAMILY
------------------------------------------------------*/
body,
input,
select,
textarea,
table,
tr,
td {
	font-family: $font-family-standard;
	}




/* HEADINGS OG P
------------------------------------------------------*/
h1 {
	color: $h1-color;
	font-size: 150%;
	margin-bottom: 0.5em;
	padding-top: 0;
	margin-top: 0;
	font-weight: normal;
	}

h2 {
	color: $h2-color;
	font-size: 120%;
	font-weight: normal;
	}

h3 {
	color: $h3-color;
	font-size: 93%;
	}

h4 {
	font-size: .8rem;
    font-weight: bold;
    color: $h4-color;
	}

h1,h5,h6,h7 {
	font-size: .8rem;
	}

h2, h3, h4, h5, h6 {
	margin-bottom: .75rem;
	margin-top: .75rem;
	}

p {
	margin-bottom: 1rem;
	margin-top:0;
    font-size: .8rem;
	}

article {
    line-height:1.5;
    padding-bottom: 40px;
    position: relative;
    @include bottom-line($gb-contrast,20px);
}


strong{
        font-weight:bold;
    }



/* LINKS
------------------------------------------------------*/
artivcle a {
    color: $links-color;
    text-decoration: none;
    font-weight:400;
}

artivcle a {
    color: $article-links-color;
    text-decoration: underline;
}

article a:hover, article a:active {
    text-decoration: underline;
}

a img {
	border: 0;
	}




/* LISTER
------------------------------------------------------*/
article ul, article ol {
	font-size: .8rem;
    padding-left:20px;
    line-height:1.6;
    list-style: disc;
	}
